body{
    background: linear-gradient(to left,rgba(7,27,82,1) 0%,rgba(0,128,128,1) 100%);
    font-family: Patrick Hand,cursive;
}
.mainDiv{
    padding: 1rem;
    background-color: #9eebcf;
    text-align: center;
    display: inline-block;
    margin: 0.5rem;
    box-shadow: 4px 4px 8px #0003;
    border-width: 0.25rem;
    border-radius: 0.5rem;
}
.grow {
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}
.grow:hover{
    transform: scale(1.05);
    transition: all .5s;
}
.dFlex{
    border: 5px solid black;
    height: 800px;
    padding: 3rem;
    margin-top: 1rem;
}
.f1{
    font-size: 3rem;
}
h1 {
    font-family: SEGA LOGO FONT;
    font-weight: 200;
    color: #0ccac4;
    margin: 0.67em 0;
}
.tc{
    text-align: center;
}
.p2{
    padding: 10px;
}
.inputCls{
    padding: 16px;
    background-color: #cdecff;
    border: 2px solid green;
    border-radius: 20px;
}